<html>
    <head>
        <title>Line | <%= @line.name %></title>
        <link type="text/css" rel="stylesheet" media="all" href="/stylesheets/lines.css" />
    </head>
    <body>
      
      
        <div id="topbar">
          
      <div id="line-circles">
        <% Line.all.each do |line| %>
            <a class="line-circle <% if line.name == @line.name %>selected<% end %>" href="/lines/<%= line.name %>"><img title="<%= line.name %>" src="/assets/<%= line_img(line.name) %>.png" /></a>
        <% end %>
      </div>
          
            <div id="top-line"></div>
            <img src="/assets/Face_Happy.png" class="happy-face-icon"/>
            <img src=" <%= "/assets/#{line_img(@line.name)}_large.png" %>" class="line-icon"/>
            <img src="/assets/Face_Sad.png" class="sad-face-icon"/>
        </div>
        <div id="main">
            <% @stations.each do |station| %>
                <% happy,sad,total = station.get_happiness; %>
                <div class="station-bar">
                    <h3 class="station-name"><%= station.station_name %></h3>
                    <div class="station-line"></div>
                    <div class="happy-bar" style="width:<%= happy/total * 280 %>px;"></div>
                    <div class="sad-bar" style="width:<%= sad/total * 280 %>px;"></div>
                    <p><%= station.get_happiness %></p>
                </div>
            <% end %>
        <div id="line-line"></div>
        </div>
    </body>
</html>
